.clanok_karta {
    margin-bottom: 20px;
    background-color: #3490dc;
    width: 100%;
    text-align: justify;
}

.card-title {
    font-weight: bolder;
}

.button_edit {
    background-color:  forestgreen;
    color: white;
}


.obr_news {
    margin-bottom: 15px;
    width: 75%;
    height: 75%;
}

.button_edit:hover {
    background-color:  #1d643b;
    color: white;
}

.navbar_hlavny {
    background-color: #3490dc;
    font-weight: bolder;
}

.obrazky {
    margin-bottom: 25px;
    padding-bottom: 0px;
}

.karty_formulare {
    background-color: #3490dc;
}

.fans_card {
    margin-bottom: 20px;
    background-color: #3490dc;
}

.popis {
    font-weight: bolder;
}




